xml-resources/web-service-references/Autoverleih/wsdl/localhost_8080/AutoVerleihung/Autoverleih.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.auto/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.auto/" name="Autoverleih">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.auto/" schemaLocation="http://localhost:8080/AutoVerleihung/Autoverleih?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllLeihvertraege">
<part name="parameters" element="tns:findAllLeihvertraege"/>
</message>
<message name="findAllLeihvertraegeResponse">
<part name="parameters" element="tns:findAllLeihvertraegeResponse"/>
</message>
<message name="leihvertragAuflisten">
<part name="parameters" element="tns:leihvertragAuflisten"/>
</message>
<message name="leihvertragAuflistenResponse">
<part name="parameters" element="tns:leihvertragAuflistenResponse"/>
</message>
<message name="fahrzeugAuflisten">
<part name="parameters" element="tns:fahrzeugAuflisten"/>
</message>
<message name="fahrzeugAuflistenResponse">
<part name="parameters" element="tns:fahrzeugAuflistenResponse"/>
</message>
<message name="createNewFahrzeug">
<part name="parameters" element="tns:createNewFahrzeug"/>
</message>
<message name="createNewFahrzeugResponse">
<part name="parameters" element="tns:createNewFahrzeugResponse"/>
</message>
<message name="createNewLeihvertrag">
<part name="parameters" element="tns:createNewLeihvertrag"/>
</message>
<message name="createNewLeihvertragResponse">
<part name="parameters" element="tns:createNewLeihvertragResponse"/>
</message>
<message name="NotAvailableException">
<part name="fault" element="tns:NotAvailableException"/>
</message>
<message name="createNewKunde">
<part name="parameters" element="tns:createNewKunde"/>
</message>
<message name="createNewKundeResponse">
<part name="parameters" element="tns:createNewKundeResponse"/>
</message>
<message name="findKundeById">
<part name="parameters" element="tns:findKundeById"/>
</message>
<message name="findKundeByIdResponse">
<part name="parameters" element="tns:findKundeByIdResponse"/>
</message>
<message name="findFahrzeugById">
<part name="parameters" element="tns:findFahrzeugById"/>
</message>
<message name="findFahrzeugByIdResponse">
<part name="parameters" element="tns:findFahrzeugByIdResponse"/>
</message>
<portType name="AutoverleihSoapWebservice">
<operation name="findAllLeihvertraege">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/findAllLeihvertraegeRequest" message="tns:findAllLeihvertraege"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/findAllLeihvertraegeResponse" message="tns:findAllLeihvertraegeResponse"/>
</operation>
<operation name="leihvertragAuflisten">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/leihvertragAuflistenRequest" message="tns:leihvertragAuflisten"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/leihvertragAuflistenResponse" message="tns:leihvertragAuflistenResponse"/>
</operation>
<operation name="fahrzeugAuflisten">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/fahrzeugAuflistenRequest" message="tns:fahrzeugAuflisten"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/fahrzeugAuflistenResponse" message="tns:fahrzeugAuflistenResponse"/>
</operation>
<operation name="createNewFahrzeug">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/createNewFahrzeugRequest" message="tns:createNewFahrzeug"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/createNewFahrzeugResponse" message="tns:createNewFahrzeugResponse"/>
</operation>
<operation name="createNewLeihvertrag">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/createNewLeihvertragRequest" message="tns:createNewLeihvertrag"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/createNewLeihvertragResponse" message="tns:createNewLeihvertragResponse"/>
<fault message="tns:NotAvailableException" name="NotAvailableException" wsam:Action="http://soap.auto/AutoverleihSoapWebservice/createNewLeihvertrag/Fault/NotAvailableException"/>
</operation>
<operation name="createNewKunde">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/createNewKundeRequest" message="tns:createNewKunde"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/createNewKundeResponse" message="tns:createNewKundeResponse"/>
</operation>
<operation name="findKundeById">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/findKundeByIdRequest" message="tns:findKundeById"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/findKundeByIdResponse" message="tns:findKundeByIdResponse"/>
</operation>
<operation name="findFahrzeugById">
<input wsam:Action="http://soap.auto/AutoverleihSoapWebservice/findFahrzeugByIdRequest" message="tns:findFahrzeugById"/>
<output wsam:Action="http://soap.auto/AutoverleihSoapWebservice/findFahrzeugByIdResponse" message="tns:findFahrzeugByIdResponse"/>
</operation>
</portType>
<binding name="AutoverleihSoapWebservicePortBinding" type="tns:AutoverleihSoapWebservice">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllLeihvertraege">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leihvertragAuflisten">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="fahrzeugAuflisten">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewFahrzeug">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createNewLeihvertrag">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NotAvailableException">
<soap:fault name="NotAvailableException" use="literal"/>
</fault>
</operation>
<operation name="createNewKunde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findKundeById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFahrzeugById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Autoverleih">
<port name="AutoverleihSoapWebservicePort" binding="tns:AutoverleihSoapWebservicePortBinding">
<soap:address location="http://localhost:8080/AutoVerleihung/Autoverleih"/>
</port>
</service>
</definitions>